[package]
name = "jubby"
version = "0.1.0"
description = "Hub de mini-apps pessoais para o system tray do Linux"
authors = ["you"]
edition = "2021"

[lib]
name = "jubby_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
tauri-plugin-opener = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

